@model IEnumerable<G3.Models.User>

@{
	ViewData["Title"] = "ClassDetail";
	Layout = "~/Views/Shared/AdminLayout.cshtml";
    int classId = (int)ViewBag.ClassId;

}

<h1>Class Detail</h1>

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6">
			<div class="card shadow mb-4">
				<!-- Card Header - Dropdown -->
				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h6 class="m-0 font-weight-bold text-primary">Issues List</h6>
				</div>
				<!-- Card Body -->
				<div class="card-body">
					<!-- Your content for the "Issues List" card here -->
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="card shadow mb-4">
				<!-- Card Header - Dropdown -->
				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h6 class="m-0 font-weight-bold text-primary">Assignment List</h6>
				</div>
				<!-- Card Body -->
				<div class="card-body">
					<!-- Your content for the "Assignment List" card here -->
				</div>
			</div>
		</div>
	</div>
	<!-- Repeat this row/column structure for each pair of cards -->
</div>


<div class="container-fluid">
	<div class="card shadow col-lg-12">
		<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
			<h6 class="m-0 font-weight-bold text-primary">Student List</h6>
			<form method="get" asp-action="ClassStudents" asp-controller="Classroom">
				<input type="hidden" name="classId" value="@ViewBag.ClassId" />
				<button type="submit" class="btn btn-outline-primary float-right">Manage students</button>
			</form>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" cellspacing="0">
					<thead>
						<tr>
							<th>
								ID
							</th>
							<th>
								Name
							</th>
							<th>
								Gender
							</th>
							<th>
								Email
							</th>
						</tr>
					</thead>

					@foreach (var item in Model)
					{
						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.Id)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Name)
							</td>

							@if (item.Gender == true)
							{
								<td>Male</td>
							}
							else
							{
								<td>Female</td>
							}
							<td>
								@Html.DisplayFor(modelItem => item.Email)
							</td>
						</tr>
					}
				</table>
			</div>
		</div>
	</div>
</div>

<div>
	<a class="btn btn-outline-primary float-left" asp-action="ClassList" asp-controller="Classroom">Back to List</a>
</div>
