@model G3.Models.User

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container bootstrap snippets bootdey">
    <h1 class="text-primary">Create a new user</h1>
    <hr>
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Avatar" value="/avatars/default.png" />
        <input type="hidden" asp-for="CreatedAt" value=@DateTime.Now />
        <input type="hidden" asp-for="UpdatedAt" value=@DateTime.Now />
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="form-group">
                    <h3>Personal info</h3>
                </div>
                <div class="alert alert-info alert-dismissable" id="alert-message" style="@((ViewData.ModelState.IsValid && (ViewData["ErrorMessage"] == null)) ? "display: none;" : "")">
                    <a class="panel-close close" data-dismiss="alert">×</a>
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <span asp-validation-for="CreatedAt" class="text-danger"></span>
                        <span asp-validation-for="UpdatedAt" class="text-danger"></span>
                        <span asp-validation-for="RoleSettingId" class="text-danger"></span>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    }
                    else if (ViewData["ErrorMessage"] != null)
                    {
                        <span class="text-danger">@ViewData["ErrorMessage"]</span>
                    }
                    <i class="fa fa-coffee"></i>
                </div>
                
                <div class="form-group">
                    <label class="col-lg-3 control-label">Name:</label>
                    <div class="col-lg-12">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Email:</label>
                    <div class="col-lg-12">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Role:</label>
                    <div class="col-lg-12">
                        <select class="form-control" asp-for="RoleSettingId" asp-items="ViewBag.RoleSettingId"></select>
                    </div>
                </div>
                
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Create</button>
                    <a asp-action="Index" class="btn btn-outline-primary">Back to list</a>
                </div>
            </div>
        </div>
    </form>
</div>