@model IEnumerable<G3.Models.User>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<h1>Index</h1>

<ejs-grid id="Grid" allowPaging="true" allowSorting="true" toolbar="@(new List<string>() {"Edit", "Update","Cancel", "Search" })">
	<e-data-manager url="/ManageEvaluation/UrlDataSource?projectId=@ViewBag.ProjectId&classId=@ViewBag.ClassId" adaptor="UrlAdaptor" updateUrl="/ManageEvaluation/Update"></e-data-manager>
	<e-grid-editSettings allowEditing="true" mode="Normal"></e-grid-editSettings>
	<e-grid-columns>
		

	</e-grid-columns>
</ejs-grid>
<style>
	/* Example of more specific selectors */
	.e-toolbar {
		border: 5px solid rgb(173, 255, 47);
	}

</style>