@model G3.Models.Project

@{
    ViewData["Title"] = "ProjectNew";
    Layout = "~/Views/Shared/ClassManagerLayout.cshtml";
}

<style>
    .required::after {
        content: '*';
        color: red;
    }
</style>

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Add New Project </h2>


        <form asp-action="ProjectNew">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                            <label asp-for="ProjectCode" class="control-label required">Project Code</label>
                <input asp-for="ProjectCode" class="form-control" />
                <span asp-validation-for="ProjectCode" class="text-danger"></span>
                <h5 style="color:red; font-size:17px;">@ViewData["exist"]</h5>
            </div>
            <div class="form-group">
                            <label asp-for="EnglishName" class="control-label required">English Name</label>
                <input asp-for="EnglishName" class="form-control" />
                <span asp-validation-for="EnglishName" class="text-danger"></span>
            </div>
           @* <div class="form-group">
                            <label asp-for="VietNameseName" class="control-label required"> VietNameseName </label>
                <input asp-for="VietNameseName" class="form-control" />
                <span asp-validation-for="VietNameseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                            <label asp-for="Description" class="control-label required"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                            <label asp-for="GroupName" class="control-label required">Group Name</label>
                <input asp-for="GroupName" class="form-control" />
                <span asp-validation-for="GroupName" class="text-danger"></span>
            </div>
            <div class="form-group">
                            <label asp-for="MentorId" class="control-label required">Mentor</label>
                <select asp-for="MentorId" class ="form-control" asp-items="ViewBag.MentorId"></select>
            </div>
            <div class="form-group">
                            <label asp-for="ClassId" class="control-label required">Class</label>
                <select asp-for="ClassId" class ="form-control" asp-items="ViewBag.ClassId"></select>
            </div>
       
           @* <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" id="myInput" value="false" readonly />
              
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>*@
           

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
                        <div>
                            <a asp-action="ProjectList">Back to List</a>
                        </div>

        </form>
        </div>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
