@model G3.Dtos.MilestoneDto

<div class="modal fade" id="exampleModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group mb-3">
                    <label asp-for="Title">Email</label>
                    <input asp-for="Title" type="email" class="form-control">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Description">Password</label>
                    <textarea asp-for="Description" type="text" class="form-control"> </textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
