<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="/css/ladingPage/StyleSheet.css" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <div class="banner">
        <div class="row">
            <div class="col-md-8">
                <div class="navBar">
                    <h1 style="color: white;">Student Portal</h1>
                    <ul>
                        <li><a href="#">HOME</a></li>
                        <li><a href="#">DASHBORD</a></li>
                        <li><a href="#">POST</a></li>
                        <li><a href="#">CONTACT</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="login">
                    <ul>
                        <li><a href="/auth/sign-in">LOGIN</a></li>
                    </ul>

                </div>
            </div>

        </div>

        <div class="content">
            <div>
                <h3>Welcome To Student Portal System</h3>
                <p>Let's try together towards a better future. The doors are wide open to welcome us</p>
                <div>
                    <button type="button"><span></span> Read More</button>
                </div>
            </div>
        </div>
    </div>


</body>
</html>